<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Art Gallery</title>
    <link rel="stylesheet" href="/main.css" />
</head>

<body style="background-color: #f7f8fc">
<div class="container">
    <div class="jumbotron">
        <h1>Art Gallery Web Application</h1>
        <p >This section display Art Collection that you have purchased</p>
        <p th:text="${id}"></p>
    </div>

    <div style="padding-top: 5px ;border: double" id="collection"></div>
</div>

<script src="built/bundle.js"></script>
<footer class="text-muted">
    <div class="container">
        <p class="float-right">
            <a href="#">Back to top</a>
        </p>
        <p>© Copyright 2020. Gia Do</p>
    </div>
</footer>
</body>
</html>
